@charset "utf-8";
/* CSS Document */
.theme-origen {
	color: #fe4a15;
}
* {
	font-family: "Microsoft YaHei" ! important;
	font-size: 14px;
	color: #2d2d46;
}
body, ul{
	padding: 0;
	margin: 0;
}
.error {
	color: red;
}
li {
	list-style: none;
}
button {
	border: none;
}
a {
	color: #ffffff;
	text-decoration: none;
}
a:hover,
a.hover-origen:hover,
.profile ul li a:hover,
ul.subject-list li a:hover,
ul.subject-list li.current a:hover,
ul.subfunction-list li a:hover,
.exam-point-tree a:hover,
.paper-item .title:hover,
ul.question-block li a:hover,
.user-center .left-side .menu a:hover {
	color: #ff4b15;
	text-decoration: underline;
}
a.btn:hover {
	text-decoration: none;
}
.blue-btn {
	color: #ffffff;
	background-color: #60aaf6;
}
.blue-btn:hover {
	background-color: #00b7ee;
}
.red-btn {
	color: #ffffff;
	background-color: #eb6877;
}
.red-btn:hover {
	background-color: #f64d61;
}
.red-btn a:hover {
	color: #FFFFFF;
}
.green-btn {
	color: #ffffff;
	background-color: #89c997;
}
.green-btn:hover {
	background-color: #5fb772;
}
.btn1 {
	padding: 8px 45px;
	text-align: center;
	box-shadow: 0 -4px 0 #2A6496 inset;
	border-radius: 6px;
	background-color: #4391e3;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 10px;
	border-width: 0;
}
.btn1:hover {
	background-color: #5cb6f0;
	box-shadow: 0 -4px 0 #3195dd inset;
}
.alert-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    border-radius: 4px;
    color: #3A87AD;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 35px;
    padding-top: 8px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert .close {
    line-height: 18px;
    position: relative;
    right: -21px;
    top: -2px;
}
button.close {
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
    padding: 0;
}
.close {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}
.logo {
	background-image: url("../images/logo.png");
	width: 212px;
	height: 89px;
	display: inline-block;
}
.header-bg {
	background-color: #3774b4;
	height: 89px;
	width: 100%;
	position: absolute;
	z-index: -1;
}
.container {
	max-width: 900px;
	margin: auto;
	position: relative;
}
#header {
	position: relative;
}
.profile {
	position: absolute;
	bottom: 0;
	right: 0;
	min-width: 180px;
	text-align: right;
}
.profile-user {
	margin-bottom: 5px;
	font-size: 18px;
	color: #ffffff;
}
.profile-avatar{
	background-image: url("../images/profile_avatar.png");
	width: 16px;
	height: 15px;
	display: inline-block;
}
.profile-triangle {
	background-image: url("../images/profile_triangle.png");
	width: 13px;
	height: 13px;
	display: inline-block;
}
/*用户菜单*/
.profile ul {
	display: none;
	position: absolute;
	width: 100%;
	text-align: center;
	border: 1px solid #60aaf6;
	background-color: #ffffff;
	z-index: 2;
}
.profile ul a {
	color: #000000;
}
.profile:hover ul {
	display: block;
	font-size: 12px;
}
.profile ul li {
	list-style: none;
	padding: 5px 0;
	border-top: 1px dashed #60aaf6;
}
.profile ul li:first-child {
	border: none;
}
/*end 用户菜单*/
.header-divider {
	border: 1px solid #afc7e1;
	height: 1px;
	background-color: #3774b4;
	margin-top: 45px;
}
#main {
	padding: 0 26px;
}
/*续费提示*/
.expire-tip {
	position: absolute;
	top: 165px;
	width: 100%;
	text-align: center;
}
.expire-tip-content {
	background-color: #b7bcc2;
	padding: 11px 20px;
	border-radius: 21px;
}
.expire-tip-time {
	color: #ff4b15;
}
.expire-tip-btn {
	padding: 6px 10px;
	border-radius: 16px;
	background-color: #4391e3;
}
.expire-tip-btn:hover {
	background-color: #00b7ee;
	color: #ffffff;
	text-decoration: none;
}
.exam-bank-btn {
	background-image: url(../images/exam_bank_bg.png);
	background-repeat: repeat-x;
	font-size: 20px;
	padding: 8px 30px;
	border-radius: 10px;
	color: #ffffff;
	display: inline-block;
	margin-top: 10px;
}
/*学科导航*/
.subject-list {
	margin-top: 18px;
	overflow: hidden;
}
ul.subject-list li {
	list-style:none;
	border: 1px solid #cbe3ff;
	padding: 9px 8px;
	display: inline-block;
	float: left;
}
ul.subject-list li.current {
	background-color: #a6cff8;
	border-color: 1px solid #000000;
}
ul.subject-list li a {
	color: #000000;
	font-size: 20px;
}
ul.subject-list li.current a {
	color: #ffffff;
}
/*end 学科导航*/
ul.function-list {
	margin-top: 1px;
	overflow: hidden;
}
ul.function-list li {
	list-style:none;
	border: 1px solid #4391e3;
	padding: 6px 40px;
	display: inline-block;
	float: left;
	background-color: #d8e8fa;
}
ul.function-list li:hover {
	background-color: #7ecef4;
}
ul.function-list li.current {
	background-image: url("../images/function_current_bg.png");
	background-repeat: repeat-x;
}
ul.function-list li a {
	color: #000000;
	font-size: 16px;
}
ul.function-list li.current a {
	color: #ffffff;
}
ul.function-list li a:hover {
	text-decoration: none;
}
/*subfunction list*/
ul.subfunction-list {
	margin-top: 12px;
	overflow: hidden;
}
ul.subfunction-list li {
	list-style:none;
	border: 1px solid #cbe3ff;
	padding: 6px 42px;
	display: inline-block;
	float: left;
	position: relative;
}
ul.subfunction-list li.current {
	border-bottom: 5px solid #00b7ee;
	padding-bottom: 2px;
}
ul.subfunction-list li a {
	color: #000000;
}
ul.subfunction-list li.current a {
	font-weight: bold;
}
.content {
	padding: 10px 13px 10px 13px;
	border: 1px solid #cbe3ff;
}
/*exam point tree*/
.exam-point-tree {
	border-top: 3px solid #96c7ff;
	margin-top: 10px;
	padding-top: 10px;
}
.exam-point-tree > .level {
	border-top: 1px dashed #62abfe;
}
.exam-point-tree > .level:first-child {
	border-top: none;
}
.exam-point-tree, .exam-point-tree a{
	color: #003f82;
}
.exam-point-tree .title {
	padding-left: 20px;
	background-image: url(../images/exam_point_tree_collaps.png);
	background-repeat: no-repeat;
	background-position: 0 7px;
}
.exam-point-tree .item {
	padding: 5px 0 0 0;
	height: 25px;
}
.exam-point-tree  .item:hover {
	background-color: #d5e8fd;
}
.exam-point-tree .expand > .item > .title {
	background-image: url(../images/exam_point_tree_expand.png);
}
.exam-point-tree .button {
	background-color: #60aaf6;
	padding: 3px 30px;
	color: #ffffff;
	margin: -3px 0 0 20px;
}
.exam-point-tree a.button:hover {
	text-decoration: none;
}
.exam-point-tree .button:hover {
	background-color: #00b7ee;
}
.exam-point-tree .sublevel {
	padding-left: 20px;
	display: none;
}
/* end of exam-point-tree */
/* point-practice */
.point-practice .button {
	margin: -3px 0 0 0;
	padding: 3px 0;
}
/* end of point-practice */
.content .name-column {
	display: inline-block;
}
.content .process-column {
	width: 246px;
	display: inline-block;
	text-align: center;
	float: right;
}
.content .done-questions-column {
	width: 164px;
	display: inline-block;
	text-align: center;
	float: right;
}
.content .rate-column {
	width: 82px;
	display: inline-block;
	text-align: center;
	float: right;
}
.content .button-column {
	width: 100px;
	display: inline-block;
	text-align: center;
	float: right;
}
.point-practice .process-bar {
	width: 70%;
	display: inline-block;
	vertical-align: middle;
}
/* 登录页面 */
.login {
	padding-top: 70px;
	margin: 0 auto;
}
.login .title-group {
	margin: 0 auto;
	display: table;
	width: auto;
}
.login .user-icon {
	background: url("../images/login.png") no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: sub;
	margin-right: 5px;
}
.login .title {
	font-weight: 600;
	font-family: "Microsoft YaHei" !important;
	font-size: 24px;
	letter-spacing: 1px;
}
.login .login-form {
	margin-top: 40px;
}
.login .control-group {
	display: table;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.login .login-form .control-label {
	width: 40px;
	margin-right: 10px;
}
.login .login-form .controls .username-input {
	width: 240px;
}
.login .login-form .controls .password-input {
	width: 240px;
}
.login .login-btn {
    padding: 8px 45px;
    box-shadow: 0 -4px 0 #2A6496 inset;
    border-radius: 6px;
    background-color: #4391e3;
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 10px;
    border-width: 0;
    margin-left: 50px;
}
.login .register-btn {
	padding: 8px 20px;
    box-shadow: 0 -4px 0 #2A6496 inset;
    border-radius: 6px;
    background-color: #4391e3;
    color: #FFFFFF;
    font-size: 18px;
    border-width: 0;
    margin-left: 50px;
}
.login .login-btn:hover, .login .register-btn:hover {
	background-color: #5cb6f0;
	box-shadow: 0 -4px 0 #3195dd inset;
}
.login .auto-login-text {
	line-height: 42px;
	font-size: 12px;
}
.form-horizontal .control-group {
  margin-bottom: 20px;
  width: 350px;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}
.form-horizontal .control-group:after {
  clear: both;
}
.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 50px;
  *margin-left: 0;
}
.form-horizontal .controls:first-child {
  *padding-left: 180px;
}
/* end of 登录页面 */
/* 注册页面 */
.register {
	padding-top: 70px;
	margin: 0 auto;
}
.register .title-group {
	margin: 0 auto;
	display: table;
	width: auto;
}
.register .user-icon {
	background: url("../images/register.png") no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: sub;
	margin-right: 5px;
}
.register .title {
	font-weight: 600;
	font-family: "Microsoft YaHei" !important;
	font-size: 24px;
	letter-spacing: 1px;
}
.register .register-form {
	margin-top: 40px;
}
.register .control-group {
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.register .register-form .control-label {
	width: 70px;
	margin-right: 10px
}
.register .register-form .controls .username-input,
.register .register-form .controls .password-input,
.register .register-form .controls .confirm-input {
	width: 260px;
}
.register .register-btn {
 	padding: 8px 8px;
    box-shadow: 0 -4px 0 #2A6496 inset;
    background-color: #4391e3;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 18px;
    border-width: 0;
    margin-left: 80px;
}
.register .login-btn {
	padding: 10px 37px;
    box-shadow: 0 -4px 0 #2A6496 inset;
    border-radius: 6px;
    background-color: #4391e3;
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 0.5px;
    border-width: 0;
    margin-left: 80px;
}
.register .login-btn:hover, .register .register-btn:hover {
	background-color: #5cb6f0;
	box-shadow: 0 -4px 0 #3195dd inset;
}
.register .policy-text {
	line-height: 49px;
	font-size: 12px;
}
/* end of 注册页面 */
/* 更新密码页面 */
.updatePassword {
	padding-top: 70px;
	margin: 0 auto;
}
.updatePassword .title-group {
	margin: 0 auto;
	display: table;
	width: auto;
}
.updatePassword .user-icon {
	background: url("../images/update-password.png") no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: sub;
	margin-right: 5px;
}
.updatePassword .title {
	font-weight: 600;
	font-family: "Microsoft YaHei" !important;
	font-size: 24px;
	letter-spacing: 1px;
}
.updatePassword .update-password-form {
	margin-top: 40px;
}
.updatePassword .control-group {
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.updatePassword .update-password-form .control-label {
	width: 70px;
	margin-right: 10px
}
.updatePassword .update-password-form .controls .username-input,
.updatePassword .update-password-form .controls .password-input,
.updatePassword .update-password-form .controls .confirm-input {
	width: 260px;
	height: 30px;
}
.updatePassword .confirm-btn {
	padding: 10px 37px;
    box-shadow: 0 -4px 0 #2A6496 inset;
    border-radius: 6px;
    background-color: #4391e3;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 2px;
    border-width: 0;
    margin-left: 80px;
    margin-top: 20px;
    width: 265px;
    height: 50px;
}
.updatePassword .confirm-btn:hover {
	background-color: #5cb6f0;
	box-shadow: 0 -4px 0 #3195dd inset;
}
/* end of 更新密码页面*/
/* 题库页面 */
.exam-bank-page .item {
	margin: 30px 18px 0;
	width: 350px;
	padding:10px 30px 6px;
	background-color:#f4f9ff;
	border-style: solid;
	border-width: 1px;
	border-color: #e4e9ff;
	display: inline-block;
}
.exam-bank-page .exam-bank-icon {
	height: 145px;
	width: 125px;
}
.exam-bank-page .exam-bank-text {
	display: inline-block;
	margin-left: 30px;
	vertical-align: top;
	margin-top: 10px;
}
.exam-bank-page .title {
	font-weight: 500;
	font-size: 26px;
	letter-spacing: 1px;
}
.exam-bank-page .paper-qty {
	font-weight: 500;
	font-size: 17px;
	letter-spacing: 1px;
	margin-top: 4px;
}
.exam-bank-page .question-qty {
	font-weight: 500;
	font-size: 17px;
	letter-spacing: 1px;
}
.exam-bank-page .btn {
    padding: 4px 10px 8px 10px;
    box-shadow: 0 -4px 0 #2A6496 inset;
    background-color: #4391e3;
    color: #FFFFFF;
    letter-spacing: 1px;
    border-width: 0;
    margin-top: 6px;
    font-weight: 700;
}
.exam-bank-page .btn:hover {
	background-color: #5cb6f0;
	box-shadow: 0 -4px 0 #3195dd inset;
}
/* end of 题库页面 */
.paper-item {
	padding: 15px 0;
	border-bottom: 1px dashed #62abfe;
	text-align: right;
}
.paper-item .paper-item-left {
	width: 60%;
}
.paper-item .title {
	color: #00479d;
	font-size: 16px;
	margin: 5px 0;
	display: block;
}
.paper-item .practice-history-info {
	font-size: 12px;
}
.paper-item .practice-time {
	color: #00b4ea;
	margin-right: 20px;
}
.paper-item .practice-status {
	color: #ff4b15;
}
.paper-item .paper-item-opt {
	width: 39%;
}
.paper-item .btn {
	padding: 5px 35px;
	border-radius: 5px;
	color: #ffffff;
	vertical-align: super;
}
.paper-item a.btn:hover {
	text-decoration: none;
}
.paper-item .blue-btn {
	background-color: #60aaf6;
	margin-left: 10px;
}
.paper-item .blue-btn:hover {
	background-color: #00b7ee;
}
.paper-item .red-btn {
	background-color: #eb6877;
	margin-left: 10px;
}
.paper-item .red-btn:hover {
	background-color: #f64d61;
}
.paper-item .green-btn {
	color: #ffffff;
	background-color: #89c997;
}
.paper-item .green-btn:hover {
	background-color: #5fb772;
}
/*试卷页面*/
.do-paper {
	margin-top: 6px;
}
.paper-left-column {
	width: 155px;
	position: absolute;
}
.paper-left-column .btn:first-child {
	margin-top:0;
}
.paper-right-column {
	margin-left: 160px;
	border: 1px solid #cbe3ff;
}
.clock {
	border: 7px solid #b3d7ff;
	width: 140px;
	height: 140px;
	text-align: center;
	line-height: 140px;
	font-size: 30px;
}
.paper-left-column .btn {
	font-size: 18px;
	text-align: center;
	padding: 12px 0;
	margin-top: 6px;
}
.paper-left-column .btn a {
    font-size: 18px;
}
.do-paper .chapter-herder {
	line-height: 30px;
	background-image: url("../images/do_paper_title_bg.png");
	background-repeat: repeat-x;
	font-weight: bold;
	padding: 0 13px;
}
ul.question-block {
	overflow: hidden;
	border-bottom: 1px solid #cbe3ff;
	color: #abe0fa;
}
ul.question-block li {
	display: inline;
}
ul.question-block li a {
	color: #000000;
	padding: 5px 30px;
	display: inline-block;
}
ul.question-block li.current a {
	border-bottom: 3px solid #00b7ee;
	padding-bottom: 2px;
}
.question {
	border-bottom: 2px solid #62abfe;
	padding: 0px 0px 10px 0px;
}
.question:first-child {
	padding: 0 0 10px 0;
}
.question:last-child {
	padding: 10px 0 0 0;
}
.question .title {
	margin: 7px 0;
}
.question .options,
.question .answers {
	border-bottom: 1px dashed #62abfe;
}
.question .options .option-item {
	margin: 7px 0;
}
.question .answers {
	padding: 0.8em 0;
}
.question .answers .answer-item {
	padding: 0 1em;
}
.question .favorite {
	float: right;
	color: #60aaf6;
	padding-left: 20px;
	background-image: url("../images/star_hollow.png");
	background-repeat: no-repeat;
	background-position: 0 3px;
	cursor: pointer;
}
.question .favorite-chosen {
	background-image: url("../images/star_solid.png");
}
.question .material-popup {
	cursor: pointer;
	color: #60aaf6;
}
.question .material {
	position: relative;
}
.question .material .material-mark {
	width: 1em;
	padding: 0.8em 0.7em;
	background-color: #13b5b1;
	float: left;
	position: absolute;
}
.question .material-content {
	margin-left: 3em;
}
/*end of 试卷页面*/
/*用户中心*/
.user-center {
	margin-top: 45px;
	position: relative;
}
.user-center .left-side {
	position: absolute;
	width: 220px;
	text-align: center;	
}
.user-center .left-side .title {
	border: 1px solid #4391e3;
	background: url("../images/user_center_menu_title_bg.png") repeat-x;
	line-height: 42px;
	font-size: 16px;
	color: #ffffff;
}
.user-center .left-side .menu {
	border: 7px solid #c7def7;
}
.user-center .left-side .menu a{
	color: #000000;
	border-bottom: 1px solid #c7def7;
	padding: 1em 0;
	display: block;
}
.user-center .left-side ul.menu li.current {
	list-style: inside;
	list-style-image: url(../images/user_center_menu_current_icon.png);
}
/*end of 用户中心*/
/*推荐真题*/
.recommendation-info {
	 font-size: 12px;
}

.recommendation-info .selected-star {
	padding-left: 18px;
	background-image: url("../images/selected_star.png");
	background-repeat: no-repeat;
	background-position: 0 3px;
	cursor: pointer;
}

.recommendation-info .unselected-star {
	padding-left: 18px;
	background-image: url("../images/unselected_star.png");
	background-repeat: no-repeat;
	background-position: 0 3px;
	cursor: pointer;
}
/*end of 推荐真题*/
/*解析*/
.analysis {
	border-left: 1px solid #c9c9c9;
	padding: 0.8em 0;
}
.analysis .analysis-item {
	position: relative;
	margin-top: 1em;
}
.analysis .analysis-item:first-child {
	margin-top: 0;
}
.analysis .analysis-item .analysis-item-title {
	position: absolute;
	background: url("../images/analysis_item_bg.png") no-repeat;
	width: 75px;
	padding-left: 6px;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	line-height: 20px;
}
.analysis .analysis-item .analysis-item-content {
	margin-left: 90px;
	font-size: 12px;
	line-height: 20px;
}
/*end of 解析*/
/*报告*/
.paper-report .practice-time{
	border: 1px solid #9dcbfd;
	background-color: #dfeefe;
	line-height: 30px;
	margin-top: 9px;
	padding: 0 13px;
}
.paper-report .half {
	width: 49%;
}
.paper-report .message {
	font-size: 18px;
}
.paper-report .status {
	color: #60aaf6;
	font-size: 24px;
}
.paper-report .number {
	font-size: 72px;
	margin-right: 30px;
}
.answer-card-title {
	background: url(../images/datika_bg.png) no-repeat;
	line-height: 40px;
	width: 127px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	margin-top: -19px;
}
.report-table-header {
	border-top: 3px solid #96c7ff;
	margin-top: 10px;
	padding-top: 10px;
}
.report-exam-point-tree {
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}
.sina-weibo {
	background: url(../images/weibo.png) no-repeat;
	display: inline-block;
	width: 18px;
	height: 18px;
}
/*endof 报告*/
.btn-question {
	width: 25px;
	height: 25px;
	padding: 0;
	margin-right: 15px;
}
/*充值页面*/
.charge-table {
	margin: 70px auto;
}
.charge-table .title {
	color: #898989;
}
.charge-table tr {
	height: 60px;
}
.charge-table * {
	font-size: 24px;
}
.charge-table .exam-bank {
	color: #00b7ee;
}
/*endo fo 充值页面*/
/* 支付页面*/
.pay-item {
	display: inline-block;
	width: 24%;
	margin: 5px 0;
}
.pay-item .pay-image {
	width: 129px;
	height: 34px;
	vertical-align: -10px;
	border: 1px solid #e3e3e3;
}
/* end of 支付页面*/

/*默认样式，主要是position:fixed实现屏幕绝对定位*/
#gotoTop{
	display:none;
	position:fixed;
	top:75%;
	left:50%;
	cursor:pointer;
	margin-top:-50px;
	margin-left:520px;
	padding:9px 4px;
	width:20px;
	text-align:center;
	border:1px solid #e0e0e0;
	background:#fff;
}
/*用CSS表达式(expression)来实现ie6下position:fixed效果*/
#gotoTop{
	_position:absolute;
	_top:expression(documentElement.scrollTop + documentElement.clientHeight * 3/4 + "px")
}
/*鼠标进入的反馈效果*/
#gotoTop.hover{
	background:#5CB542;
	color:#fff;
	text-decoration:none;
}