#page {
    padding-top: 60px;
}

.links_column_item {
	margin-right: 10px;
}

.exam_point_visible {
	margin-right: 50px;
}

.exam_point_tree_item {
	background-color: #f5f5f5;
}

.exam_point_tree_item:hover {
	background-color: #eeeeee;
}